/* MEDIA QUERY MANAGER */
/* 
0-600px:    Phone
600-900px::afterTablet portrait
900-1200px: Tablet landscape
(1200-1800) is where our normal styles apply
1800px + :  Big desktop

/*
$breakpoint-argument choices:
- phone
-tab-port
-tab-land
-big-desktop
*/
/* ORDER: Base + Typography > general layout + grid > page layout > components  */
/**
 * Created by Anu Ganesh
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&family=Nunito+Sans:wght@200;300;400;600;700&family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&family=Jost:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Kaushan+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&family=Nunito+Sans:wght@200;300;400;600;700&family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&family=Jost:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Kaushan+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.ex-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ex-flex-wrap {
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.ex-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.ex-transition {
  transition: all .6s ease;
}

.ex-transition-medium {
  transition: all 1.2s ease;
}

.ex-transition-large {
  transition: all 1.8s ease;
}

/*--------------------------------------- Mixins Ends -------------------------------------*/
html {
  scroll-behavior: smooth;
  /* This defines what 1rem is */
  font-size: 62.5%;
  /* 1rem = 10px; 10px/16px = 62.5% */
  /* 1200px */
  /* 900px */
  /* 1800px+ */
}

@media (max-width: 75em) {
  html {
    /*  (width < 1200) */
    font-size: 56.25%;
    /* 1rem = 9px, 9/16 = 56.25%  */
  }
}

@media (max-width: 56.25em) {
  html {
    /* (width < 900) */
    font-size: 50%;
    /* 1rem = 8px, 8/16 =50% */
  }
}

@media (min-width: 112.5em) {
  html {
    /* (width > 1800) */
    font-size: 75%;
    /* 1rem = 12px, 12/16 = 75% */
  }
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: black;
  line-height: inherit;
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link, a:visited {
  text-decoration: none;
}

a:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  margin-bottom: 1.8rem;
}

p:last-of-type {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.slick-slider .slick-slide {
  outline: none;
}

.container {
  max-width: 98rem;
  margin: auto;
}

.custom-container {
  padding: 6rem 10rem;
  max-width: 192rem;
  margin: auto;
}

.custom-container .small-width-container {
  max-width: 120rem;
}

.custom-container .small-medium-container {
  max-width: 150rem;
}

.ar-btn {
  display: inline-block;
  width: auto !important;
  outline: none;
  padding: 0 3rem;
  background-color: #212529;
  border: 1px solid #212529;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.section-title.white-text {
  color: #ffff;
}

.section-title.move-left {
  text-align: left;
}

.remove-top-padding {
  padding-top: 0;
}

/**
 * Created by Joshua Tamang
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ex-flex-wrap {
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.ex-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.ex-transition {
  transition: all .6s ease;
}

.ex-transition-medium {
  transition: all 1.2s ease;
}

.ex-transition-large {
  transition: all 1.8s ease;
}

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
.header {
  height: 36rem;
  background-size: cover;
  background-position: bottom;
}

.header .navigation {
  width: 100%;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 8rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.header .navigation.scrolling-active {
  background-color: #3C5DC0;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}

.header .navigation__logo {
  width: 8.5rem;
  margin: 1.5rem 0;
  /* padding: .5rem; */
}

.header .navigation__logo img {
  width: 100%;
  height: auto;
}

.header .navigation__list {
  display: flex;
  /* 900px */
}

@media (max-width: 56.25em) {
  .header .navigation__list {
    position: fixed;
    flex-direction: column;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: #3C5DC0;
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2rem 2rem;
    z-index: 1000000;
  }
  .header .navigation__list.show {
    top: 88px;
  }
}

.header .navigation__item {
  position: relative;
  padding: 4.1rem 0;
  cursor: pointer;
  /* 900px */
}

@media (max-width: 56.25em) {
  .header .navigation__item {
    padding: 1.5rem 0;
  }
}

.header .navigation__item:not(:last-of-type) {
  margin-right: 4rem;
  /* 900px */
}

@media (max-width: 56.25em) {
  .header .navigation__item:not(:last-of-type) {
    margin-right: 0;
  }
}

.header .navigation__item:hover .navigation__link::after {
  left: 5px;
  right: 5px;
  opacity: 1;
}

.header .navigation__item:hover .dropdown {
  display: block;
  /* 900px */
}

@media (max-width: 56.25em) {
  .header .navigation__item:hover .dropdown {
    display: none;
  }
}

.header .navigation__item span {
  color: white;
}

.header .navigation__link {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  position: relative;
  font-weight: 500;
  position: relative;
  /* 900px */
}

.header .navigation__link.active::before {
  content: "";
  position: absolute;
  top: 3rem;
  height: 3px;
  background: #0fff00;
  left: 0;
  right: 0;
  transition: all ease-in-out 0.25s;
}

@media (max-width: 56.25em) {
  .header .navigation__link {
    font-size: 1.9rem;
    font-weight: 600;
  }
}

.header .navigation__link::after {
  content: "";
  position: absolute;
  top: 3rem;
  height: 3px;
  background: white;
  left: 50%;
  right: 50%;
  margin: auto;
  transition: all ease-in-out 0.25s;
  opacity: 0;
}

.header .navigation__link i {
  font-size: 14px;
  margin-left: 5px;
}

.header .navigation__toggle {
  display: none;
  padding: 4.3rem 0;
  cursor: pointer;
  transition: all 0.6s ease;
  /* 900px */
}

@media (max-width: 56.25em) {
  .header .navigation__toggle {
    display: block;
  }
}

.header .navigation__toggle.open span {
  color: #fff;
}

.header .navigation__toggle.open span:first-child {
  /* Chrome, Safari, Opera */
  transform: translateY(7px) rotate(45deg);
}

.header .navigation__toggle.open span:nth-child(2) {
  /* Safari */
  transform: rotateY(90deg);
  /* rotates the second child on the Y AXIS ONLY 90 degrees so it disappears into a point */
}

.header .navigation__toggle.open span:last-child {
  /* Chrome, Safari, Opera */
  transform: translateY(-9px) rotate(-45deg);
}

.header .navigation__toggle span {
  width: 3rem;
  height: 3px;
  background: white;
  display: block;
  webkit-transition-timing-function: linear;
  /* Safari and Chrome */
  transition-timing-function: linear;
  transition-duration: 0.5s;
}

.header .navigation__toggle span:not(:last-of-type) {
  margin-bottom: 5px;
}

.header .navigation .dropdown {
  display: none;
  position: absolute;
  top: 80%;
  background: white;
  padding: 1rem 0;
  min-width: 24rem;
  /* 900px */
}

.header .navigation .dropdown.show {
  display: block;
}

@media (max-width: 56.25em) {
  .header .navigation .dropdown {
    display: none;
    width: 100%;
    margin-top: 10px;
    z-index: 1;
    position: relative;
  }
  .header .navigation .dropdown.show {
    display: block;
  }
  .header .navigation .dropdown::after {
    display: none;
  }
}

.header .navigation .dropdown__item {
  padding: 1rem 2rem;
}

.header .navigation .dropdown__item:hover {
  background: #fff;
}

.header .navigation .dropdown__item:hover .dropdown__link {
  color: #3C5DC0;
}

.header .navigation .dropdown__link {
  color: black;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.navigation-toggle-menu {
  display: none;
}

.navigation-toggle-menu.show {
  display: block;
}

.program-modal {
  z-index: 100000;
}

.program-modal .program-modal-dialog {
  max-width: 700px;
  width: 700px;
  margin: 3rem auto;
}

.program-modal .program-modal-dialog .program-modal-content {
  background: #fff;
}

.program-modal .program-modal-dialog .program-modal-content .modal-header .modal-title {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  background: #3C5DC0;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
}

.program-modal .program-modal-dialog .program-modal-content .modal-header .close {
  top: 1rem;
  right: 1.2rem;
  color: #484444;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body {
  padding-bottom: 0;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body h4,
.program-modal .program-modal-dialog .program-modal-content .modal-body p,
.program-modal .program-modal-dialog .program-modal-content .modal-body i,
.program-modal .program-modal-dialog .program-modal-content .modal-body ul > li {
  color: #000;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body ul > li {
  color: #000;
  list-style: inside;
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  line-height: 1.9;
  font-weight: 400;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body .program-items-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body .program-items-container .program-item {
  display: flex;
  gap: 1rem;
  flex-basis: 48%;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body .program-items-container .program-item .img-container i {
  font-size: 3.6rem;
  color: #3C5DC0;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body .program-items-container .program-item .text-container h4 {
  color: #5f5959;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body .program-items-container .program-item .text-container p {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  position: relative;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body .other-content {
  margin-top: 1.5rem;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body .other-content h4 {
  color: #3C5DC0;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.6;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body .other-content p {
  font-size: 1.6rem;
  font-weight: 400;
  word-spacing: 1px;
  margin-bottom: 1rem;
  position: relative;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body .other-content p i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.program-modal .program-modal-dialog .program-modal-content .modal-body .other-content p::before {
  content: "-";
  position: absolute;
  left: -12px;
  color: black;
  top: 0px;
  font-size: 16px;
}

.program-modal .program-modal-dialog .program-modal-content .modal-footer {
  border: 0;
}

.program-modal .program-modal-dialog .program-modal-content .modal-footer button {
  border: none;
  background: #3C5DC0;
}

.program-modal .program-modal-dialog .program-modal-content .modal-footer button:hover {
  color: white;
  bckground: black;
}

.program-modal .program-modal-dialog .program-modal-content .modal-footer button:focus {
  outline: none;
}

.search-modal {
  z-index: 100000;
  background-color: #00000078;
}

.search-modal .search-modal-dialog {
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%) !important;
  top: 47%;
  left: 47%;
  box-shadow: none;
}

.search-modal .search-modal-dialog .search-modal-content {
  padding: 20px;
  width: 540px;
  background: #fff;
}

.search-modal .search-modal-dialog .search-modal-content .modal-header h2 span {
  color: #3C5DC0;
}

.search-modal .search-modal-dialog .search-modal-content .modal-header .close {
  top: 1rem;
  right: 1.2rem;
  color: #484444;
}

.search-modal .search-modal-dialog .search-modal-content .modal-body input {
  width: 87%;
  padding: 15px 20px;
  transition: all 0.3s linear;
}

.search-modal .search-modal-dialog .search-modal-content .modal-body input:focus {
  outline: none;
  border: 1px solid #3C5DC0;
}

.search-modal .search-modal-dialog .search-modal-content .modal-body button {
  width: 13%;
  border: 0;
  background: blue;
  color: white;
  padding: 14px 0px 16px;
  margin-left: -5px;
  font-size: 16px;
}

.search-modal .search-modal-dialog .search-modal-content .modal-body button i {
  color: white;
}

.search-modal .search-modal-dialog .search-modal-content .modal-body button:hover {
  background: rgba(0, 0, 255, 0.7);
}

.search-modal .search-modal-dialog .search-modal-content .modal-footer {
  border: 0;
}

.search-modal .search-modal-dialog .search-modal-content .modal-footer button {
  border: none;
  background: #3C5DC0;
}

.search-modal .search-modal-dialog .search-modal-content .modal-footer button:hover {
  color: white;
  bckground: black;
}

.search-modal .search-modal-dialog .search-modal-content .modal-footer button:focus {
  outline: none;
}

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/
#content-wrapper #about-page .about-section {
  margin-top: 10rem;
}

#content-wrapper #about-page .about-section .about-container {
  display: flex;
  /* padding: 6rem; */
  gap: 5rem;
  line-height: 2.6rem;
}

#content-wrapper #about-page .about-section .about-container .left-content {
  flex-basis: 50%;
}

#content-wrapper #about-page .about-section .about-container .left-content .text-container .primary-heading {
  color: #3C5DC0;
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

#content-wrapper #about-page .about-section .about-container .left-content .text-container .secondary-heading .secondary-heading-upper {
  font-size: 4.6rem;
  font-weight: 700;
  display: block;
  margin: 0.5rem 0;
}

#content-wrapper #about-page .about-section .about-container .left-content .text-container .secondary-heading .secondary-heading-lower {
  font-size: 2.4rem;
  font-weight: 600;
  font-style: italic;
  color: #3C5DC0;
  position: relative;
}

#content-wrapper #about-page .about-section .about-container .left-content .text-container .secondary-heading .secondary-heading-lower::after {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  background: #3C5DC0;
  width: 44%;
  height: 4px;
}

#content-wrapper #about-page .about-section .about-container .left-content .img-container {
  width: 60rem;
  height: 45rem;
  margin: 4rem 0;
  padding: 2.4rem;
  position: relative;
}

#content-wrapper #about-page .about-section .about-container .left-content .img-container img {
  width: 100%;
  height: auto;
  height: 100%;
  object-fit: cover;
}

#content-wrapper #about-page .about-section .about-container .left-content .img-container::after {
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 0.9rem;
  width: 25%;
  height: 30%;
  background: #3C5DC0;
  z-index: -1;
}

#content-wrapper #about-page .about-section .about-container .left-content .img-container::before {
  content: "";
  position: absolute;
  bottom: 0.9rem;
  right: 0.9rem;
  width: 25%;
  height: 30%;
  background: #3C5DC0;
  z-index: -1;
}

#content-wrapper #about-page .about-section .about-container .right-content {
  flex-basis: 50%;
  font-size: 1.6rem;
}

#content-wrapper #about-page .about-section .about-container .right-content .second-paragraph {
  margin-bottom: 0;
}

#content-wrapper #about-page .about-section .about-container .right-content .list {
  margin-bottom: 1rem;
}

#content-wrapper #about-page .about-section .about-container .right-content .objectives {
  margin-bottom: 0;
  margin-top: 2rem;
}

#content-wrapper #about-page .about-section .about-container .right-content .objectives h4 {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

#content-wrapper #about-page .about-section .about-container .right-content .objectives ul li {
  margin-left: 1.4rem;
}

#content-wrapper #about-page .about-section .about-container .right-content .objectives ul li::marker {
  content: "\f138";
  font-family: "Font Awesome 5 Free";
  color: #3C5DC0;
  font-size: 1.6rem;
  font-weight: 900;
}

#content-wrapper #about-page .why-choose-pic-section {
  background: #ececec;
}

#content-wrapper #about-page .why-choose-pic-section .section-title h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 8rem;
  position: relative;
}

#content-wrapper #about-page .why-choose-pic-section .section-title h1::after {
  content: "";
  position: absolute;
  bottom: -1.6rem;
  left: 45%;
  width: 7%;
  height: 5px;
  background: #3C5DC0;
}

#content-wrapper #about-page .why-choose-pic-section .section-title h1 span {
  color: #3C5DC0;
}

#content-wrapper #about-page .why-choose-pic-section .section-content {
  display: flex;
  justify-content: space-between;
}

#content-wrapper #about-page .why-choose-pic-section .section-content .section-card {
  text-align: center;
  flex-basis: 30%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.2);
  background: white;
}

#content-wrapper #about-page .why-choose-pic-section .section-content .section-card:first-of-type {
  background: #3C5DC0;
  color: white;
}

#content-wrapper #about-page .why-choose-pic-section .section-content .section-card img {
  width: 10rem;
  display: block;
  margin: 0 auto;
}

#content-wrapper #about-page .why-choose-pic-section .section-content .section-card h3 {
  margin: 2rem 0;
  font-weight: 600;
}

#content-wrapper #about-page .why-choose-pic-section .section-content .section-card p {
  font-size: 1.6rem;
}

#content-wrapper #about-page .why-choose-pic-section .section-btn {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

#content-wrapper #about-page .why-choose-pic-section .section-btn a {
  background: #3C5DC0;
  padding: 1.3rem 5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.1s linear;
}

#content-wrapper #about-page .why-choose-pic-section .section-btn a i {
  margin-left: 3px;
}

#content-wrapper #about-page .why-choose-pic-section .section-btn a:hover {
  background: transparent;
  color: #3C5DC0;
  border: 2px solid #3C5DC0;
}

#content-wrapper #about-page .what-we-do-section {
  margin-bottom: 8rem;
  background: #3C5DC0;
  color: white;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container {
  display: flex;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .left-content {
  flex-basis: 50%;
  margin-top: 1rem;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .left-content h1 {
  font-weight: 700;
  position: relative;
  display: inline-block;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .left-content h1::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 34%;
  height: 5px;
  background-color: white;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .left-content p {
  width: 52%;
  line-height: 4.9rem;
  font-size: 2.3rem;
  font-weight: 500;
  margin-top: 6rem;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .left-content p span {
  font-style: italic;
  text-decoration: underline;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .right-content {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .right-content .right-content-item {
  flex-basis: 50%;
  text-align: center;
  position: relative;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .right-content .right-content-item:nth-of-type(2) {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .right-content .right-content-item:nth-of-type(3) {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .right-content .right-content-item:not(:last-child) {
  padding-bottom: 3rem;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .right-content .right-content-item img {
  width: 12rem;
  height: 12rem;
  display: flex;
  margin: 0 auto;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .right-content .right-content-item h2 {
  font-weight: 700;
  margin: 0.5rem 0 0.5rem 2.1rem;
}

#content-wrapper #about-page .what-we-do-section .custom-container .what-we-do-container .right-content .right-content-item p {
  font-size: 1.5rem;
  font-weight: 500;
}

#content-wrapper #home-page .banner-section {
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: -36rem;
  z-index: 1;
}

#content-wrapper #home-page .banner-section .slider .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: none;
  animation: slide 2s ease;
}

#content-wrapper #home-page .banner-section .slider .slide.overlay:after {
  content: "";
  background-color: #17171787;
}

#content-wrapper #home-page .banner-section .slider .slide.active {
  display: flex;
}

#content-wrapper #home-page .banner-section .slider .slide.active .caption {
  margin: 23rem auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#content-wrapper #home-page .banner-section .slider .slide.active .caption h1 {
  font-size: 4.6rem;
  color: white;
  letter-spacing: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 3s;
  line-height: 1.5;
  word-spacing: 3px;
}

#content-wrapper #home-page .banner-section .slider .slide.active .caption h1 .slider-heading-upper {
  display: block;
}

#content-wrapper #home-page .banner-section .slider .slide.active .caption h1 .slider-heading-upper span {
  color: #002eff;
  font-weight: 700;
}

#content-wrapper #home-page .banner-section .slider .slide.active .caption h1 .slider-heading-lower {
  display: block;
  margin-top: 3rem;
  margin-bottom: 7rem;
  color: white;
}

#content-wrapper #home-page .banner-section .slider .slide.active .caption h1 .slider-heading-lower span {
  color: #002eff;
  font-weight: 700;
}

#content-wrapper #home-page .banner-section .slider .slide.active .caption a {
  cursor: pointer;
  border: none;
  background: #3C5DC0;
  text-transform: uppercase;
  color: white;
  padding: 2rem;
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 600;
}

#content-wrapper #home-page .banner-section .slider .slide.active .caption a:hover {
  background: #0d38bb;
}

#content-wrapper #home-page .banner-section .slider .slide.active .caption .contact-btn {
  background: transparent;
  border: 2px solid white;
  margin-left: 3rem;
  padding: 1.8rem 2rem;
}

#content-wrapper #home-page .banner-section .slider .slide.active .caption .contact-btn:hover {
  background: transparent;
  color: #002eff;
  border: 2px solid #002eff;
}

#content-wrapper #home-page .banner-section .controls .prev {
  left: 0.5rem;
}

#content-wrapper #home-page .banner-section .controls .prev:hover {
  transform: translateX(-0.5rem);
}

#content-wrapper #home-page .banner-section .controls .next {
  right: 1rem;
}

#content-wrapper #home-page .banner-section .controls .next:hover {
  transform: translateX(0.5rem);
}

#content-wrapper #home-page .banner-section .controls .prev,
#content-wrapper #home-page .banner-section .controls .next {
  padding: 0 1rem;
  position: absolute;
  z-index: 2;
  top: 40%;
  color: #ffffff;
  font-size: 2.6rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

#content-wrapper #home-page .programs-section {
  padding-bottom: 6rem;
  margin-top: 3rem;
}

#content-wrapper #home-page .programs-section .custom-container {
  padding: 0 10rem;
}

#content-wrapper #home-page .programs-section .custom-container .section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#content-wrapper #home-page .programs-section .custom-container .section-content .course-card {
  background-size: cover;
  background-position: center;
  width: 35rem;
  height: 23rem;
  padding: 2rem;
  color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

#content-wrapper #home-page .programs-section .custom-container .section-content .course-card:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px) scale(1.015);
  transition: all 0.2s ease-in-out;
}

#content-wrapper #home-page .programs-section .custom-container .section-content .course-card h2 {
  font-size: 1.8rem;
  letter-spacing: 0.2px;
}

#content-wrapper #home-page .programs-section .custom-container .section-content .course-card p {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.4px;
}

#content-wrapper #home-page .programs-section .custom-container .section-content .course-card .modal-link {
  font-size: 1.4rem;
  margin-top: 4rem;
  font-weight: 300;
  position: relative;
}

#content-wrapper #home-page .programs-section .custom-container .section-content .course-card .modal-link i {
  margin-left: 1rem;
  font-size: 1.2rem;
  animation: scaleBigger 1s infinite;
}

#content-wrapper #home-page .programs-section .custom-container .programs-btn {
  display: flex;
  justify-content: center;
}

#content-wrapper #home-page .news-and-events-section {
  background-position: center;
  background-size: cover;
}

#content-wrapper #home-page .news-and-events-section .custom-container {
  padding: 6rem 8rem;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content {
  display: flex;
  gap: 14rem;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .text-container .date {
  font-weight: 400;
  font-size: 1.6rem;
  font-style: italic;
  color: #504c4c;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .text-container .title {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 5px;
  line-height: 1.7;
  color: #3C5DC0;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .ne-heading h2 {
  font-weight: 300;
  font-size: 2.4rem;
  margin-bottom: 4rem;
  position: relative;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .ne-heading h2::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -12px;
  width: 35px;
  height: 3px;
  background: #3C5DC0;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .ne-btn {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #3C5DC0;
  float: right;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 1.5rem;
  padding-bottom: 3px;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .ne-btn i {
  font-size: 1.2rem;
  margin-left: 5px;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .ne-btn:hover {
  border-bottom: 1px solid #3C5DC0;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .recent-news-section {
  flex-basis: 30%;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .recent-news-section .rn-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .recent-news-section .rn-content .news-item {
  display: flex;
  gap: 1.5rem;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .recent-news-section .rn-content .news-item:not(:last-of-type) {
  margin-bottom: 2rem;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .recent-news-section .rn-content .news-item .img-container {
  width: 12rem;
  height: 8rem;
  object-fit: cover;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .recent-news-section .rn-content .news-item .img-container img {
  width: 100%;
  height: 100%;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .upcoming-events-section {
  flex-basis: 70%;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .upcoming-events-section .ue-content {
  display: flex;
  gap: 3rem;
  margin: 2rem 0;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .upcoming-events-section .ue-content .ue-item .img-container {
  width: 34rem;
  margin-bottom: 2.4rem;
}

#content-wrapper #home-page .news-and-events-section .custom-container .section-content .upcoming-events-section .ue-content .ue-item .img-container img {
  width: 100%;
  height: auto;
}

#content-wrapper #home-page .news-and-events-section.overlay::after {
  background-color: #ecececd6;
}

#content-wrapper #home-page .gallery-section .section-content .gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

#content-wrapper #home-page .gallery-section .section-content .gallery-container a {
  width: 340px;
  height: 230px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 5px #000;
  position: relative;
  transition: all 0.3s ease;
}

#content-wrapper #home-page .gallery-section .section-content .gallery-container a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
  position: relative;
}

#content-wrapper #home-page .gallery-section .section-content .gallery-container a img:hover {
  transform: scale(1.3);
}

#content-wrapper #home-page .gallery-section .section-content .gallery-container a:hover:after {
  content: "\f00e";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  background: #3C5DC0;
  color: white;
  font-weight: 900;
  font-size: 16px;
  padding: 9px 11px;
  border-radius: 50%;
}

#content-wrapper #home-page .gallery-section .gallery-btn {
  display: flex;
  justify-content: center;
}

#content-wrapper #home-page .testimonials-section {
  background: #f3f3f3;
  margin-bottom: 20rem;
}

#content-wrapper #home-page .testimonials-section .custom-container {
  padding: 6rem 0 18rem;
  /* .testimonial-slider {
          .swiper-container {
            width: 100%;
            height: 100%;
          }
  
          .swiper-slide {
            text-align: center;
            font-size: 1.8rem;
            background: #fff;
            .img-container {
              width: 15rem;
              height: 15rem;
              margin: 0 auto;
              border-radius: 100%;
              border: 2px solid #7a7abd85;
              padding: 0.5rem;
              box-shadow: 0 0px 2rem rgba(0, 0, 0, 0.2);
              img {
                width: 100%;
                border-radius: 100%;
              }
            }
            .text-container {
              padding: 2rem 10rem 4rem;
              margin: 0 auto;
              position: relative;
              .alumni-thoughts {
                font-family: $font-type-4;
                font-size: 1.7rem;
                letter-spacing: 0.4px;
                margin-bottom: 0;
                i {
                  margin-right: 1rem;
                }
              }
              .alumni-details {
                font-size: 1.5rem;
                float: right;
                font-weight: 600;
                color: $primary-color;
              }
            }
          }
  
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        } */
}

#content-wrapper #home-page .testimonials-section .custom-container .section-content {
  display: flex;
  margin-top: 13rem;
}

#content-wrapper #home-page .testimonials-section .custom-container .section-content .student-testimonial {
  position: relative;
}

#content-wrapper #home-page .testimonials-section .custom-container .section-content .student-testimonial .student-thought {
  background: white;
  padding: 6rem 2rem 7rem;
}

#content-wrapper #home-page .testimonials-section .custom-container .section-content .student-testimonial .student-thought p {
  font-size: 1.6rem;
  text-align: center;
}

#content-wrapper #home-page .testimonials-section .custom-container .section-content .student-testimonial .student-details {
  position: absolute;
  bottom: -56%;
  left: 40%;
}

#content-wrapper #home-page .testimonials-section .custom-container .section-content .student-testimonial .student-details img {
  margin-bottom: 2rem;
}

#content-wrapper #home-page .testimonials-section .custom-container .section-content .student-testimonial .student-details p {
  margin-bottom: 5px;
  text-align: center;
  font-weight: 400;
}

#content-wrapper #home-page .testimonials-section .custom-container .section-content .student-testimonial:nth-of-type(2) .student-thought {
  background: #3C5DC0;
  color: white;
  position: relative;
  top: -44px;
  left: 0px;
}

#content-wrapper #home-page .testimonials-section .custom-container .section-content .student-testimonial:nth-of-type(2) .student-details {
  bottom: -36%;
  left: 40%;
}

#content-wrapper #contact-page .contact-section {
  margin-top: 10rem;
}

#content-wrapper #contact-page .contact-section .contact-container {
  display: flex;
  gap: 3rem;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content {
  flex-basis: 65%;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form {
  background: #f5f5f5;
  padding: 30px 20px;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form .form-title {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form .form-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #3C5DC0;
  width: 40px;
  height: 5px;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form p {
  margin-bottom: 3rem;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form input {
  border: none;
  padding: 13px;
  margin-bottom: 3rem;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form input:first-of-type {
  width: 48%;
  margin-right: 22px;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form input:nth-of-type(2) {
  width: 48%;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form input:nth-of-type(3) {
  width: 100%;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form textarea {
  width: 100%;
  border: none;
  padding: 15px;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form input,
#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form textarea {
  transition: border 0.3s ease;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form input:focus,
#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form textarea:focus {
  outline: none;
  border: 1px solid #3C5DC0;
}

#content-wrapper #contact-page .contact-section .contact-container .left-content .contact-form button {
  border: none;
  font-size: 16px;
  margin-top: 20px;
  background: #3C5DC0;
  padding: 10px 28px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 100px;
}

#content-wrapper #contact-page .contact-section .contact-container .right-content {
  flex-basis: 35%;
}

#content-wrapper #contact-page .contact-section .contact-container .right-content .map {
  margin-bottom: 30px;
}

#content-wrapper #contact-page .contact-section .contact-container .right-content .map iframe {
  width: 100%;
  height: 250px;
}

#content-wrapper #contact-page .contact-section .contact-container .right-content .contact-detail {
  margin-bottom: 20px;
}

#content-wrapper #contact-page .contact-section .contact-container .right-content .contact-detail h3 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 15px;
}

#content-wrapper #contact-page .contact-section .contact-container .right-content .contact-detail h3 i {
  color: #3C5DC0;
  margin-right: 10px;
}

#content-wrapper #contact-page .contact-section .contact-container .right-content .contact-detail ul li {
  font-size: 16px;
}

/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
#footer-wrapper {
  background-size: cover;
  padding-top: 1rem;
}

#footer-wrapper .top-footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 12rem 6rem 4rem;
  color: #fff;
  gap: 4rem;
}

#footer-wrapper .top-footer-container h3 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
}

#footer-wrapper .top-footer-container a:link,
#footer-wrapper .top-footer-container a:visited {
  color: white;
}

#footer-wrapper .top-footer-container a:hover {
  color: #fff;
}

#footer-wrapper .top-footer-container .college-info {
  flex-basis: 20%;
}

#footer-wrapper .top-footer-container .college-info .logo-container {
  width: 8.5rem;
}

#footer-wrapper .top-footer-container .college-info .logo-container img {
  width: 100%;
}

#footer-wrapper .top-footer-container .college-info .text-container p {
  margin: 1rem 0;
}

#footer-wrapper .top-footer-container .college-info .social-links {
  display: flex;
  gap: 2rem;
  margin-top: 1.4rem;
}

#footer-wrapper .top-footer-container .college-info .social-links a {
  transition: all 0.4s ease;
}

#footer-wrapper .top-footer-container .college-info .social-links a i {
  font-size: 1.6rem;
  border: 1px solid white;
  border-radius: 10rem;
}

#footer-wrapper .top-footer-container .college-info .social-links a:first-of-type i {
  padding: 0.9rem 1.2rem;
}

#footer-wrapper .top-footer-container .college-info .social-links a:not(first-of-type) i {
  padding: 0.9rem 1rem;
}

#footer-wrapper .top-footer-container .courses {
  flex-basis: 20%;
}

#footer-wrapper .top-footer-container .courses ul li {
  margin-bottom: 1rem;
}

#footer-wrapper .top-footer-container .courses ul li a {
  font-size: 1.6rem;
  transition: all 0.4s ease;
}

#footer-wrapper .top-footer-container .courses ul li a i {
  margin-right: 0.5rem;
}

#footer-wrapper .top-footer-container .quick-links {
  flex-basis: 20%;
}

#footer-wrapper .top-footer-container .quick-links ul li {
  margin-bottom: 1rem;
}

#footer-wrapper .top-footer-container .quick-links ul li a {
  font-size: 1.6rem;
  transition: all 0.4s ease;
}

#footer-wrapper .top-footer-container .quick-links ul li a i {
  margin-right: 0.5rem;
}

#footer-wrapper .top-footer-container .contact {
  flex-basis: 20%;
}

#footer-wrapper .top-footer-container .contact ul li {
  font-size: 1.6rem;
  transition: all 0.4s ease;
}

#footer-wrapper .top-footer-container .contact ul li i {
  color: white;
}

#footer-wrapper hr {
  width: 90%;
  margin: 0 auto;
  color: #094198;
}

#footer-wrapper .bottom-footer-container {
  background: #3C5DC0;
  color: #ffffff;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  text-align: center;
  padding: 2rem;
}

/*--------------------------------- Footer Wrapper Ends ---------------------------------*/
/*--------------------------------- Components Starts ---------------------------------*/
.tracking-in-expand-fwd-top {
  animation: tracking-in-expand-fwd-top 3.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.tracking-in-contract {
  animation: tracking-in-contract 3s cubic-bezier(0.23, 1, 0.32, 1) 0.3s both;
}

.slide-in-blurred-bottom {
  animation: slide-in-blurred-bottom 2s cubic-bezier(0.23, 1, 0.32, 1) 1.3s both;
}

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-70rem) translateY(-50rem);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 3rem;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(100rem) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 100%;
    filter: blur(4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes scaleBigger {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.common-section-title {
  text-align: center;
}

.common-section-title h4 {
  text-transform: uppercase;
  color: #3C5DC0;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.common-section-title h4::before {
  content: "";
  position: absolute;
  left: -46px;
  top: 9px;
  width: 40px;
  height: 1px;
  background: #3C5DC0;
}

.common-section-title h4::after {
  content: "";
  position: absolute;
  right: -46px;
  top: 9px;
  width: 40px;
  height: 1px;
  background: #3C5DC0;
}

.common-section-title h2 {
  text-transform: capitalize;
  margin-bottom: 6rem;
  font-weight: 600;
}

.common-btn {
  float: right;
  margin-top: 1rem;
  color: white;
  font-weight: 400;
  padding-bottom: 3px;
  transition: 0.4s;
}

.common-btn i {
  margin-left: 5px;
}

.common-btn:hover, .common-btn:focus {
  color: white;
  border-bottom: 1px solid white;
}

.common-main-heading {
  color: white;
  margin-top: -32rem;
  padding: 15rem 2rem 0;
  text-align: center;
}

.common-main-heading h1 {
  font-weight: 600;
}

.common-main-heading p {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.common-banner-section {
  margin-top: 10.2rem;
  z-index: -1;
  height: 30rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-bottom: 0.5rem solid #fb8b2b;
}

.common-banner-section.overlay:after {
  content: "";
  background-color: #121213a8;
}

.common-banner-section h2 {
  font-size: 4.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 6rem;
}

.common-banner-section h2 i {
  margin-right: 1rem;
  color: #3cb709;
}

.common-about-section .custom-container {
  padding: 6rem 0;
}

.common-about-section .custom-container .about-container {
  margin-top: 10rem;
}

.common-about-section .custom-container .about-container .section-content {
  width: 70%;
  margin-left: auto;
  position: relative;
}

.common-about-section .custom-container .about-container .section-content img {
  width: 56rem;
  height: auto;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  left: -43%;
  top: -12%;
  z-index: 1;
}

.common-about-section .custom-container .about-container .section-content .text-container {
  padding: 8rem 6rem 10rem 22rem;
  background-size: cover;
  background-position: center;
  color: white;
}

.common-about-section .custom-container .about-container .section-content .text-container .section-title h4 {
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  margin-left: 7rem;
  position: relative;
}

.common-about-section .custom-container .about-container .section-content .text-container .section-title h4::before {
  content: "";
  position: absolute;
  left: -12%;
  top: 11px;
  width: 50px;
  height: 1px;
  background: white;
}

.common-about-section .custom-container .about-container .section-content .text-container .section-title h2 {
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 600;
  font-size: 3.8rem;
}

.common-about-section .custom-container .about-container .section-content .text-container p {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.4px;
  text-align: justify;
  margin-top: 2rem;
}

.common-about-section .custom-container .about-container .section-content .text-container.overlay::after {
  background-color: #0830c3bf;
}

.common-contact-info-wrapper {
  display: flex;
}

.common-contact-info-wrapper .title li span {
  margin-right: 1rem;
  font-size: 1.6rem;
  color: #98a9ffc7;
}

.common-contact-info-wrapper .title li:first-child {
  margin-bottom: 3.4rem;
  margin-top: 0.2rem;
}

.common-contact-info-wrapper .title li:nth-child(2) {
  margin-bottom: 3.2rem;
}

.common-contact-info-wrapper .content li {
  margin-bottom: 1rem;
}

.common-contact-info-wrapper .content li:hover {
  cursor: pointer;
}

.common-section-heading {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #12499c;
  font-weight: 700;
  position: relative;
}

.common-section-heading::before {
  content: "";
  position: absolute;
  top: 5.5rem;
  left: 46%;
  width: 9rem;
  height: 0.6rem;
  border-radius: 5rem;
  background: #ffa65ac7;
}

.common-section-btn {
  margin-top: 5rem;
  background: transparent;
  color: #3C5DC0;
  border: 1px solid #3C5DC0;
  padding: 1.2rem 1.5rem;
  letter-spacing: 0.4px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.common-section-btn:hover {
  background: #3C5DC0;
  color: white;
  border: none;
}

.common-section-btn i {
  margin-left: 1rem;
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay:after {
  content: "";
  position: absolute;
  background-color: #4753c596;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}

.swiper-container {
  margin: 0;
  width: 50rem;
  height: 20rem;
}

.swiper-slide {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  margin-right: 0;
}

.swiper-slide h3 {
  color: #3C5DC0;
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 2.1rem;
}

.swiper-slide p {
  margin-top: 0.8rem;
  font-size: 1.68rem;
  letter-spacing: 0.2px;
}

.swiper-slide .read-more-btn {
  background: transparent;
  border: 1px solid #bebec1;
  padding: 0.8rem 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*------------------------------------ Components Ends ------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
.slick-slider .slick-prev {
  left: 2rem;
}

.slick-slider .slick-next {
  right: 2rem;
}

/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*------------------------------------- Mcustom Starts ------------------------------------*/
/*-------------------------------------- Mcustom Ends -------------------------------------*/
/*-------------------------------------- Modal Starts -------------------------------------*/
.modal-dialog {
  margin: 7rem auto;
}

.modal-dialog .modal-header {
  padding: 0;
  border: 0;
}

.modal-dialog .modal-header button {
  position: absolute;
  top: -3rem;
  right: 0;
  color: #fff;
  opacity: 1;
}

.modal-dialog .modal-content {
  background: black;
  border-radius: 0;
}

.modal-dialog .modal-content .modal-body {
  padding: 3rem 2.6rem;
}

.modal-dialog .modal-content .modal-body .modal-loading-gif {
  height: 13rem;
  position: relative;
}

.modal-dialog .modal-content .modal-body .modal-loading-gif img {
  width: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.modal-dialog .modal-content .modal-body p,
.modal-dialog .modal-content .modal-body h1,
.modal-dialog .modal-content .modal-body h2,
.modal-dialog .modal-content .modal-body h3,
.modal-dialog .modal-content .modal-body h4,
.modal-dialog .modal-content .modal-body h5,
.modal-dialog .modal-content .modal-body h6,
.modal-dialog .modal-content .modal-body ul li,
.modal-dialog .modal-content .modal-body ol li,
.modal-dialog .modal-content .modal-body span {
  color: #fff;
}

/*--------------------------------------- Modal Ends --------------------------------------*/
/*# sourceMappingURL=main.css.map */